<div id="share">
	<p>This is your signup code: <code>http://{{domain}}/{{code}}</code></p>

	<p>
		Share the code

		<span class="st_facebook_button" st_url="http://{{domain}}/{{code}}" st_title="Sign up for an early invite on Django Launch Site"></span>
		<span class="st_twitter_button" st_url="http://{{domain}}/{{code}}" st_title="Sign up for an early invite on Django Launch Site"></span>
	</p>

	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">
	stLight.options({ publisher:'12345' });
	</script>
</div>
